# Pre-Processing of the Data

Standardization, normalization, data shuffling

## Import Required Packages

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

## Load Data

In [4]:
data = pd.read_csv("./Data/cleaned_data.csv")
data = data.drop(columns="Unnamed: 0")
data.head()

/var/folders/rn/k7vf4gp97fb11dzjbcr7w8bc0000gn/T/ipykernel_73521/3544037732.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./Data/cleaned_data.csv")

,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
0,0,ellis,2019,5 stars,positive,"it was a bit quite when we went in, but do not...",0,0,NaN,NaN,NaN
1,1,ellis,2020,5 stars,positive,nice cozy place which serves very tasty burger...,0,0,NaN,NaN,NaN
2,2,ellis,2019,5 stars,positive,really nice place. one of my favourite burger ...,0,0,NaN,NaN,NaN
3,3,ellis,2019,2 stars,negative,the service was quite good but the burgers we ...,0,0,NaN,NaN,NaN
4,4,ellis,2020,5 stars,positive,i had a very nice experience! the staff were r...,0,0,NaN,NaN,NaN

## Shuffle Data

In [5]:
shuffled_data = data.sample(frac=1)
shuffled_data.to_csv("./Data/shuffled_data.csv")

In [8]:
print("Train set 90%:", shuffled_data.shape[0]*0.9)
print("Test set 10%:", shuffled_data.shape[0]*0.1)

Train set 90%: 363458.7
Test set 10%: 40384.3

## Create Train and Test sets

In [19]:
shuffled_data = pd.read_csv("./Data/shuffled_data.csv")
shuffled_data = shuffled_data.rename(columns={"Unnamed: 0":"Index"})
shuffled_data = shuffled_data.set_index("Index")

train_data = shuffled_data[:363459]
train_data.to_csv("./Data/train_data.csv")
test_data = shuffled_data[363460:]
test_data.to_csv("./Data/test_data.csv")

/var/folders/rn/k7vf4gp97fb11dzjbcr7w8bc0000gn/T/ipykernel_73521/2023738695.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  shuffled_data = pd.read_csv("./Data/shuffled_data.csv")

## Fix Indexes

In [20]:
shuffled_data.head()

,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
Index,,,,,,,,,,,
18594,10,coffeeshop la grotte,2019,5 stars,positive,2nd year coming here and can t say enough good...,0,0,NaN,NaN,NaN
373579,451,pata negra,2019,5 stars,positive,excellent,0,0,NaN,NaN,NaN
128693,112,bagels & beans ijdock,2021,5 stars,positive,"location, very nice and welcoming, with a spl...",0,0,NaN,NaN,NaN
120681,17,plum,2020,5 stars,positive,went to this place on saturday. i had the gril...,0,0,NaN,NaN,NaN
162003,504,caf‚àö¬© thijssen,2021,5 stars,positive,was wer very tasty,0,0,NaN,NaN,NaN

## Balancing Dataset

In [15]:
data = shuffled_data.copy()

# How many reviews are labelled as containing accessibility information?
print("Total number of reviews:", data.shape[0])
print("Accessibility = 0:", data[data["Accessibility"]==0].shape[0], "-->", data[data["Accessibility"]==0].shape[0]/data.shape[0]*100,"%")
print("Accessibility = 1:", data[data["Accessibility"]==1].shape[0], "-->", data[data["Accessibility"]==1].shape[0]/data.shape[0]*100,"%")

Total number of reviews: 403843
Accessibility = 0: 401924 --> 99.5248153366531 %
Accessibility = 1: 1919 --> 0.4751846633468947 %

### Random Over/Undersampling

Only train_data!

In [24]:
# IMPORT PACKAGES

import sklearn as sk
import imblearn

from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.under_sampling import RandomUnderSampler

In [22]:
# LOAD DATA
train = pd.read_csv("./Data/train_data.csv")
train = train.set_index("Index")
train.head()

/var/folders/rn/k7vf4gp97fb11dzjbcr7w8bc0000gn/T/ipykernel_73521/2326251737.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("./Data/train_data.csv")

,Venue Index,Name,Date,Rating,Rating Sent,Text,Aspect,Accessibility,Term1,Term2,Term3
Index,,,,,,,,,,,
18594,10,coffeeshop la grotte,2019,5 stars,positive,2nd year coming here and can t say enough good...,0,0,NaN,NaN,NaN
373579,451,pata negra,2019,5 stars,positive,excellent,0,0,NaN,NaN,NaN
128693,112,bagels & beans ijdock,2021,5 stars,positive,"location, very nice and welcoming, with a spl...",0,0,NaN,NaN,NaN
120681,17,plum,2020,5 stars,positive,went to this place on saturday. i had the gril...,0,0,NaN,NaN,NaN
162003,504,caf‚àö¬© thijssen,2021,5 stars,positive,was wer very tasty,0,0,NaN,NaN,NaN

#### Undersampling

In [23]:
# Define undersample strategy
#undersample = RandomUnderSampler(sampling_strategy=0.5)

In [25]:
# Split data into features (X) and labels(y)
X = train["Text"]
y = train["Accessibility"]

In [26]:
# Distribution class
y.value_counts()

0    361739
1      1720
Name: Accessibility, dtype: int64